{% extends 'base.html' %}{% block content %}
<h1 align="center"> {{ title }}</h1>
<h1>Expediente de {{ persona.apellido }}, {{persona.nombre}}</h1>

<div class="col-sm-10 col-sm-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">Información Personal</div>
		<div class="panel-body">
			<dl class="dl-horizontal">
				<dt>Apellido</dt><dd>{{persona.apellido}}</dd>
				<dt>Nombre</dt><dd>{{persona.nombre}}</dd>
				<dt>{{persona.identificacion}}</dt><dd>{{persona.numero}}</dd>
				<dt>Telefono</dt><dd>{{persona.telefono}}</dd>
				<dt>Estado Civil</dt><dd>{{persona.estadocivil}}</dd>
				<dt>Profesion</dt><dd>{{persona.profesion}}</dd>
				<dt>CUIL/CUIT</dt><dd>{{persona.cuil}}</dd>
				<dt>Direccion</dt><dd>{{persona.direccion}}</dd>
			</dl>
		</div>
	</div>
</div>
<div class="col-sm-10 col-sm-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">Capacitaciones</div>
			
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Crear y Emprender</dt>
						<dd>
							Modelado de negocios:
							{% if persona.modeladodenegocios == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}
						</dd>
						<dd>
							Ventas: 
							{% if persona.ventas == "False" %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %} 
						</dd>
						<dd>
							Marketing: 
							{% if persona.marketing == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}
						</dd>
						<dd>
							Diseño de marca: 
							{% if persona.disenodemarca == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}
						</dd>
						<dd>
							Marca Colectiva: 
							{% if persona.marcacolectiva == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}
						</dd>
						<dd>
							Rentabilidad:
							{% if persona.rentabilidad == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %} 
						</dd>
						<dd>
							Costos: 
							{% if persona.costos == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}
						</dd>
						<dd>
							Cultura Emprendedora: 
							{% if persona.culturaemprendedora == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %} 
						</dd>
						<dd>
							Desarrollo de producto: 
							{% if persona.desarrollodeproducto == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}
						</dd>
						<dd>
							Entrenamiento Intensivo: 
							{% if persona.entrenamientointensivo == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %} 
						</dd>
					<dt>Gestionando la Empresa</dt>
						<dd>
							Plan de negocios: 
							{% if persona.plandenegocios == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}
						</dd>
						<dd>
							Innovacion y Creatividad: 
							{% if persona.innovacionycreatividad == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}	
						</dd>
					<dt>Habilidades Blandas</dt>
						<dd>
							Liderazgo: 
							{% if persona.liderazgo == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}		 
						</dd>
						<dd>
							Trabajo en Equipo:
							{% if persona.trabajoenequipo == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}	 
						</dd>
						<dd>
							Comunicacion Efectiva: 
							{% if persona.comunicaionefectiva == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}		 
						</dd>
					<dt>Alternativas de Financiamiento</dt>
						<dd>
							Concursos y convocatorias:
							{% if persona.concursosyconvocatorias == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}	 
						</dd>
						<dd>
							Financiamiento Tradicional y no Tradicional: 
							{% if persona.tradicionalynotradicional == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}
						</dd>
					<dt>Tic's en la Gestion Empresarial </dt>
						<dd>
							Marketing Digital:
							{% if persona.marketingdigital == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}	 
						</dd>
						<dd>
							Ventas por Redes Sociales: 
							{% if persona.redessociales == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}
						</dd>
						<dd>
							Tienda Online:
							{% if persona.tiendaonline == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}
						</dd>
					<dt>Asociatividad Empresarial</dt>
						<dd>
							Cooperativismo:
							{% if persona.cooperativismo == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}
						</dd>
						<dd>
							Asociativismo:
							{% if persona.asociativismo == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}
						</dd>
						<dd>	 	  
							Persona Juridica:
							{% if persona.personajuridica == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}	
						</dd>
					<dt>Inclusion Productiva</dt>
						<dd>
							Mujer Emprendedora:
							{% if persona.mujeremprendedora == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}	 	
						</dd>
						<dd>
							Trabajo y discapacidad:
							{% if persona.trabajoydiscapacidad == False %}
								<span class="glyphicon glyphicon-remove"></span>
							{% else %}  
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}	
						</dd>

				</dl>
			</div>
			
		</div>
</div>
<div class="col-sm-10 col-sm-offset-1">
	
	{% if admin == 1 %}
	<div class="panel panel-default">
		<div class="panel-body">
	<dl class="dl-horizontal">
				<dt>
			Ultimo Usuario:</dt><dd>{{ persona.usuario }}</dd>
		<dt>
			Ultima Modificacion: </dt><dd>{{ persona.updated }}</dd>
		
	</dl>
	</div>
	</div>
	{% endif %}
</div>
</table>
	<div align="center"><a href="/home"> <button> Volver al inicio</button></a></div>
{% endblock %}
