{% extends 'base.html' %}
{% block content %}
<div class="col-sm-3">
	<div class="panel panel-default">
		<div class="panel-heading">Crear y Emprender</div>

		<div class="panel-body">
			<a href="modeladodenegocios">Modelado de negocios</a><br>
			<a href="ventas">Ventas</a><br>
			<a href="marketing">Marketing</a><br>
			<a href="disenodemarca">Diseño de marca</a><br>
			<a href="marcacolectiva">Marca Colectiva</a><br>
			<a href="rentabilidad">Rentabilidad</a><br>
			<a href="costos">Costos</a><br>
			<a href="entrenamientointensivo">Entrenamiento Intensivo</a><br>
			<a href="culturaemprendedora">Cultura Emprendedora</a><br>
			<a href="desarrollodeproducto">Desarrollo de producto</a><br>
		</div>
	</div>
	<!-- <div class="panel panel-default">
		<div class="panel-heading">Gestionando la Empresa</div>
		<div class="panel-body">
			<a href="plandenegocios">Plan de negocios</a><br>
		<a href="innovacionycreatividad">Innovacion y Creatividad</a>
		</div>
	</div> -->
</div>
<div class="col-sm-3">
	<div class="panel panel-default">
		<div class="panel-heading">Habilidades Blandas</div>
		<div class="panel-body">
			<a href="liderazgo">Liderazgo</a><br>
			<a href="trabajoenequipo">Trabajo en Equipo</a><br>
			<a href="comunicacionefectiva">Comunicacion Efectiva</a>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Alternativas de Financiamiento</div>
		<div class="panel-body">
			<a href="concursosyconvocatorias">Concursos y Convocatorias</a><br>
			<a href="tradicionalynotradicional">Financiamiento Tradicional y no Tradicional</a>
		
		</div>
	</div>
</div>
<div class="col-sm-3">
	<div class="panel panel-default">
		<div class="panel-heading">Tic's en la Gestion Empresarial</div>
		<div class="panel-body">
			
			<a href="marketingdigital">Marketing Digital</a><br>
			<a href="redessociales">Ventas por Redes Sociales</a><br>
			<a href="tiendaonline">Tienda Online</a>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Asociatividad Empresarial</div>
		<div class="panel-body">
			
			<a href="cooperativismo">Cooperativismo</a><br>
			<a href="asociativismo">Asociativismo</a><br>
			<a href="personajuridica">Persona Juridica</a>
		</div>
	</div>
</div>
<div class="col-sm-3">
	<div class="panel panel-default">
		<div class="panel-heading">Inclusión Productiva</div>
		<div class="panel-body">
			
			<a href="mujeremprendedora">Mujer Emprendedora</a><br>
			<a href="trabajoydiscapacidad">Trabajo y discapacidad</a>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Gestionando la Empresa</div>
		<div class="panel-body">
			<a href="plandenegocios">Plan de negocios</a><br>
		<a href="innovacionycreatividad">Innovacion y Creatividad</a>
		</div>
	</div>
	<!-- <div class="panel panel-default">
		<div class="panel-heading">Feriantes</div>
		<div class="panel-body">
			
			<a href="desafio">Desafio Producir</a><br>
			<a href="artesano">Paseo del Artesano</a>

		</div>
	</div> -->
</div>
	
	{% endblock %}

