{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title>Emprendedores</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"> <!-- meta viewport para maparatos mobiles -->

		<link rel="stylesheet" href="/static/css/bootstrap.css">

	</head>
	<body>
		<div class="container" align="center">
			<header>

			</header>
			<!-- CONTENIDO -->
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4">
							<br><br><br><br><br><br>
				<h1>Se ha deslogueado,<br> hasta pronto</h1>
							<a href="{% url 'login' %}" type="button" class="btn btn-default"> Ir al Inicio </a>
					
					</div>
				</div>
		</div>
	</body>
</html>	